* {
  font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    align-content: flex-start;
    background-color: darkgreen;
    font-size: 20px;

}
nav li { display: inline; }

nav li a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

nav li a:hover {
  background-color: chartreuse;
  transition: 0s;
}

nav li a.active {
  color: sandybrown;
  background-color: honeydew;
  font-weight: bold;
}



table {
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: forestgreen;
  background: honeydew;
  padding: 0px;
  border-spacing: 0px;
  margin: 60px 30px;
  float: left;
}


body {
  margin: 0 10%;
  color: blue;
  font-size: 12px }

h1 {
  color: forestgreen;
  margin-left: 0 2%;
}

h2 { color: sandybrown;
  font-size: 20px;
}

h3 {color: black;
  font-size: 18px;
}


img.one {
  border-color: darkgreen;
  height: 250px;
  border-width: 8px 3px 8px 3px;
  border-style: double;
  margin: 10px 40px;
  float: right;
}
img.two {
  border-color: darkgreen;
  height: 250px;
  border-width: 8px 3px 8px 3px;
  border-style: double;
  margin: 0px 40px 10px;
  float: left;
}
img.four {
  border-color: darkgreen;
  width: 300px;
  border-width: 8px 3px 8px 3px;
  border-style: double;
  margin: 0px 40px;
  float: left;
}

th {
  color: white;
  background-color: darkgreen;
}

th, td {
  text-align: left;
  padding: 3px 15px;
}

td.trcell, td.facell, td.uicell {
  font-weight: bold;
}

td.trcell {color: green; }
td.facell { color: red;     }
td.uicell { color: orange; }
